* {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --w: 64px;
  --bg: #333;
  --fg: #ddd;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: var(--bg);
  color: var(--fg);
}

#container {
  position: relative;
  place-self: center;
  display: flex;
  flex-direction: column;
  border: 4px solid var(--fg);
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
}
.row:nth-child(3), .row:nth-child(6) {
  border-bottom: 2px solid var(--fg);
}

.cell {
  position: relative;
  width: var(--w);
  height: var(--w);
  border: 1px solid var(--fg);
  line-height: var(--w);
  font-size: calc(var(--w) * 0.75);
  text-align: center;

  display: flex;
  flex-wrap: wrap;
}
.cell.collapsed {
  display: block;
}
.cell.collapsed .option, .option.hide {
  color: var(--bg);
}

.cell:nth-child(3), .cell:nth-child(6) {
  border-right: 2px solid var(--fg);
}

.color::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f006;
}

.option {
  position: relative;
  width: calc(var(--w) / 3);
  height: calc(var(--w) / 3);
  line-height: calc(var(--w) / 3);
  font-size: calc(0.7 * var(--w) / 3);
  color: #888;
}
